body{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1{
  color: white;
  font-size: 40px;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 50px;
}
 .form{
  margin-top: 10px;
  width: fit-content;
  align-self: center;
  background-color:gainsboro;
  padding: 20px 40px;
  border-radius: 10px;
 }
.label{
  display: block;
  font-size: larger;
  padding: 5px;
}
 
.input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  border: none;
  border-radius: 5px;
}
.btn{
  background-color: lightblue;
  border-radius: 5px;
  border: none;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  cursor: pointer;
}
.btn:active{
 scale: 0.9;
}
 
.messages{
  display: flex;
  justify-content: center;
}
 
.error-msg{
  color: red;
  font-size: 14px;
} 
.success{
  color: green;
}
.switch-to-signin, .switch-to-register{
  color: lightskyblue;
  font-weight: bold;
  cursor: pointer;
}
.header{
  display: flex;
  justify-content: center;
  background-color: gainsboro;
}
.course-links{
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.course-links:hover{
  text-decoration: underline;
}


.navbar{
  display:flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.navlinks{
  margin-left: 20px;
  text-decoration: none;
  color:lightblue;
}
.suggested-courses{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayed-courses{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.course-card, .assignment-card, .instructor-assignments-card{
  background-color: white;
  width: 200px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
.instructor-assignments-card{
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0px;
}

.assignment-card{
  justify-content: space-between;
  height: 350px;
  padding: 30px;
}
.course-card>div{
  margin-bottom: 10px;
}
.course-card:hover{
  scale: 0.9;
}
.course-img{
  width:95%;
  height: 50%;
  margin-bottom: 5px;
}
.course-name{
  color: lightblue;
  font-weight: bolder;
}
.description, .fees, .assignment-description{
  font-size: 14px;
}
.assignment-description{
  margin-top: 20px;
}
.fees{
  font-weight: bold;
}
.messsage{
  color:white
}
.view-assignment, .submit-assignment, .submit-btn, .cancel-btn{
  background-color: rgb(195, 195, 195);
  border-radius: 10px;
  border:none;
  padding:10px 15px;
  color: white;
  cursor: pointer;
}
.view-assignment:hover, .submit-assignment:hover, .submit-btn{
  background-color: lightblue;
}
.submit-btn:active, .cancel-btn:active{
  scale:0.9;
}
.requirements{
  font-weight: bold;
}
.submit-modal{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
 
}
.content{
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 30px;
  border: 1px solid #888;
  width: 30%; 
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
.submit-text{
  color: lightblue;
}
textarea{
  resize: vertical;
  max-height: 50%;
  min-height: 30%;
}
.assignment-btns{
  display: flex;
  justify-content: space-around;
}
.student-username{
  width: 30%;
  align-self: center;
}



.add-course{
  color: gray;
  font-weight: bold;
  font-size: 20px;
}
.add-course:hover{
  text-decoration: underline;
}
.add-new-user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adduser-content{
  background-color: #fefefe;
  margin: 20px;
  padding: 30px;
  border: 1px solid #888;
  width: 40%; 
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
.details{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.input{
  border: 1px solid gray;
}
.btns{
  display: flex;
  justify-content: space-around;
}
.admin-submit-btn, .admin-cancel-btn{
  background-color: rgb(195, 195, 195);
  border-radius: 10px;
  border:none;
  padding:10px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.admin-submit-btn{
  background-color: lightblue;
  margin: 10px;
}
.admin-submit-btn:active, .admin-cancel-btn:active{
  scale:0.9;
}

.instructor-card{
  background-color: white;
  width: 200px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  overflow: hidden;
}
.instrucor-card>div{
  margin-bottom: 10px;
}
.instructor-card:hover{
  scale: 0.9;
}
.instructor-img{
  width:80%;
  height: 60%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.instructor-name{
  color: lightblue;
  font-weight: bolder;
}

