.navbar{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}
.navlinks{
    margin-left: 20px;
    text-decoration: none;
    color:lightblue;
}
.suggested-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.displayed-courses{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.course-card{
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}